.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper-dark {
  padding: 100px 30px 30px 30px;
  background-color: #495057;
  color: white;
  /*position: fixed;*/
  top: 0px;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  /*text-align: center;*/

}

.page-wrapper-light {
  padding: 100px 30px 30px 30px;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
